{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
    - Nos partenaires
{% endblock %}

{% block ariane_content %}
    <li class="breadcrumb-item" aria-current="page">
        Nos partenaires
    </li>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/au_fil_des_saveurs.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Au fil Des Saveurs</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/brasserie_de_vezelay.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Brasserie de Vezelay</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/generous.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Generous</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/gluten_corner.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gluten Corner</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/lactofriend.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lacto Friend</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/natama.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Natâma</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/nature_zen.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Nature Zen</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-block">
                    <img class="card-img-top" src="{{ asset('images/partenaires/rrraw.png') }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rrraw</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}